body {
	background-color: #bbb;
}

#canvas {
	background-color: #eee;
	margin: auto;
	padding: 10px;
}
.outsideForm {
	width: 180px;
	background-color: #fee;
	margin: auto;
	padding: 10px;
	border-style: solid;
    border-width: 2px;
    border-color: #0099FF;
     opacity:0;
}
.overForm {
	font-size: 1.0em;
	width: 80px;
	background-color: transparent;
	margin: auto;
	padding: 10px;
	border: none;
	color: #ffffff;
}
.button {
	width:80px;
	height:24px;
	background:#07A;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1p solid #999;
}
.button:hover {
	background:#048;
	color:#fff;
}

.hslider {
	width: 100px;
	-webkit-appearance: none;
	padding-left:2px; padding-right:2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);

}
.hslider::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    -webkit-border-radius: 1px;
    background-color: "AAA";
    background-image: -webkit-linear-gradient(left, #DDDDDD, #FFFFFF);
   	box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    -moz-box-shadow: 1px 1px 1px #888;
    border: 1p solid #FFF;
    width: 10px;  
    height: 16px;  
    z-index: 2;
}  
.vslider {
	width: 10px;
	height: 100px;
	-webkit-appearance: slider-vertical;
}
